<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target xsi:type="AsyncWrapper" name="MainLogs" queueLimit="10000" timeToSleepBetweenBatches="50" batchSize="100" overflowAction="Grow">
			<target xsi:type="File" fileName="Logs/log.${level}.txt" layout="${uppercase:${logger}} ${longdate} ${message}" archiveEvery="Day" archiveNumbering="DateAndSequence" keepFileOpen="False" archiveFileName="Logs/Archives/log.${level}.{#}.txt"></target>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="MainLogs" />
	</rules>
</nlog>